<table>
  <tr>
    <td><img id="imagem" src="assets\img\placa-video\asus 150ti.jpg"></td>
    <td>Placa de Vídeo Asus NVIDIA GeForce GTX1050TI-A4G
      <p>GTX 1050 Ti Cerberus 4GB, GDDR5</p>
      <p><b>R$: 750,00</b></p>
      <p><button mat-button>Comprar</button> <button mat-button>Ver Detalhes</button></p>
      </td>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <td><img id="imagem" src="assets\img\placa-video\asus 1060.png"></td>
      <td>Placa de Vídeo ASUS GeForce
        <p> GTX 1060 OC 6GB DUAL-GTX1060-O6G</p>
        <p><b>R$: 1.334,82</b></p>
        <p><button mat-button>Comprar</button> <button mat-button>Ver Detalhes</button></p>
      </td>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <td><img id="imagem" src="assets\img\placa-video\galax geforce rtx 2080ti.jpg"></td>
      <td>Placa de Vídeo Galax NVIDIA GeForce
        <p>RTX 2080 Ti White 11GB, GDDR6 - 28IULBUCT4KW</p>
        <p><b>R$: 7.599,00</b></p>
        <p><button mat-button>Comprar</button> <button mat-button>Ver Detalhes</button></p>
      </td>
  </tr>
</table>
