<table>
  <tr>
    <td><img id="imagem" src="assets\img\memoria-ram\Kingston DDR3 8 gb 4 gb 1600 mhz.jpg"></td>
    <td>Kingston DDR3 8 gb
      <P>4 gb 1600 mhz, <B>PARA NOTEBOOK</B></P>
      <p><b>R$: 270,00</b></p>
      <p><button mat-button>Comprar</button> <a [routerLink]="['/memoria-kingston']"><button mat-button>Ver Detalhes</button></a></p>
    </td>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;
    <td><img id="imagem" src="assets\img\memoria-ram\Memoria Ram 4GB DDR3 1600mhz 1.5v Kcp316ns8 4 Kingston.jpg"></td>
    <td>Memoria Ram 4GB DDR3 1600mhz
      <p>1.5v Kcp316ns8 4 Kingston</p>
      <p><b>R$: 245,00</b></p>
      <p><button mat-button>Comprar</button> <button mat-button>Ver Detalhes</button></p>
    </td>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;
    <td><img src="assets\img\memoria-ram\Memoria ram 4gb Notebook ddr3 Ddr3l 1600mhz Pc3l - 12800.jpg" style="width: 120px"></td>
    <td>Memoria ram 4gb Notebook ddr3
      <p> 1600mhz Pc3l - 12800 </p>
      <p><b>R$: 180,00</b></p>
      <p><button mat-button>Comprar</button> <button mat-button>Ver Detalhes</button></p>
      </td>
  </tr>
</table>
<router-outlet></router-outlet>
