<table>
   <tr>
     <td><img id= "imagem" src="assets\img\gabinete\Gabinete full-tower branco graphite series 780t cc-9011059-ww - Corsair.jpg"></td>
       <td>Gabinete full-tower branco graphite
          <p> series 780t cc-9011059-ww - Corsair</p>
          <p><b>R$: 850,00</b></p>
          <p><button mat-button>Comprar</button> <button mat-button>Ver Detalhes</button></p>
       </td>
       &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;
       <td><img id= "imagem" src="assets\img\gabinete\Gabinete Gamer Aerocool Cylon Rgb Mid Tower Atx Preto.jpg"></td>
       <td>Gabinete Gamer Aerocool Cylon
         <p>Rgb Mid Tower Atx Preto</p>
         <p><b>R$: 900,00</b></p>
         <p><button mat-button>Comprar</button> <button mat-button>Ver Detalhes</button></p>
       </td>
       &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;
       <td><img id= "imagem" src="assets\img\gabinete\Gabinete Gamer Bluecase Mid Tower BG-015.jpg"></td>
       <td>Gabinete Gamer Bluecase
         <p>Mid Tower BG-015</p>
         <P><b>R$: </b></P>
         <p><button mat-button>Comprar</button> <button mat-button>Ver Detalhes</button></p>
        </td>
   </tr>
   <tr>
     <td><img id= "imagem" src="assets\img\gabinete\GABINETE GAMER TT VIEW 27 WING WINDOW.png"></td>
     <td>GABINETE GAMER TT VIEW 27
       <p>WING WINDOW</p>
      <p><b>R$: </b></p>
      <p><button mat-button>Comprar</button> <button mat-button>Ver Detalhes</button></p>
    </td>
   </tr>

  </table>
