<table>
  <tr>
    <td><img id="imagem" src="assets\img\processador\Processador Amd a6 7400k Black edition Edition 3.9 GHZ.jpg"></td>
    <td>Processador Amd a6 7400k Black edition
      <p>Edition 3.9 GHZ</p>
      <p><b>R$: 200,00</b></p>
      <p><button mat-button>Comprar</button> <button mat-button>Ver Detalhes</button></p>
    </td>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <td><img id="imagem" src="assets\img\processador\Processador Amd Fx-6300 3.3ghz.jpg"></td>
    <td>Processador Amd Fx-6300 3.3ghz
      <p><b>R$: 339,00</b></p>
      <p><button mat-button>Comprar</button> <button mat-button>Ver Detalhes</button></p>
    </td>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <td><img id="imagem" src="assets\img\processador\PROCESSADOR INTEL CORE I5 2400S 2.5GHZ.jpg"></td>
    <td>PROCESSADOR INTEL CORE I5
      <p> 2400S 2.5GHZ.jpg</p>
      <p><b>R$: 999,90</b></p>
      <p><button mat-button>Comprar</button> <button mat-button>Ver Detalhes</button></p>
    </td>
  </tr>
</table>
