<table>
  <tr>
    <td><img id="imagem" src="assets\img\processador\PROCESSADOR INTEL CORE I5 2400S 2.5GHZ.jpg"></td>
    <td>PROCESSADOR INTEL CORE I5
      <p> 2400S 2.5GHZ.jpg</p>
      <p><b>R$: 999,90</b></p>
      <p><button mat-button>Comprar</button> <button mat-button>Ver Detalhes</button></p>
    </td>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <td><img id="imagem" src="assets\img\gabinete\Gabinete Gamer Aerocool Cylon Rgb Mid Tower Atx Preto.jpg"></td>
    <td>Gabinete Gamer Aerocool Cylon
      <p>Rgb Mid Tower Atx Preto</p>
      <p><b>R$: 900,00</b></p>
      <p><button mat-button>Comprar</button> <button mat-button>Ver Detalhes</button></p>
    </td>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <td><img id="imagem" src="assets\img\placa-video\asus 1060.png"></td>
      <td>Placa de Vídeo ASUS GeForce
        <p> GTX 1060 OC 6GB DUAL-GTX1060-O6G</p>
        <p><b>R$: 1.334,82</b></p>
        <p><button mat-button>Comprar</button> <button mat-button>Ver Detalhes</button></p>
      </td>
  </tr>
  <tr>
      <td><img id="imagem" src="assets\img\monitor\hp 27.png"></td>
      <td>Monitor HP 27"
       <p>Ultrawide, Full HD, IPS, HDMI/Display</p>
       <P>Port, FreeSync, Som Integrado - 29WK600</P>
       <p><b>R$: 1.500,00</b></p>
       <p><button mat-button>Comprar</button> <button mat-button>Ver Detalhes</button></p>
      </td>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <td><img id="imagem" src="assets\img\memoria-ram\Memoria ram 4gb Notebook ddr3 Ddr3l 1600mhz Pc3l - 12800.jpg"></td>
      <td>Memoria ram 4gb Notebook ddr3
       <p> 1600mhz Pc3l - 12800 </p>
       <p><b>R$: 180,00</b></p>
       <p><button mat-button>Comprar</button> <button mat-button>Ver Detalhes</button></p>
      </td>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <td><img id="imagem" src="assets\img\placa-mae\gigabyte ga 956qm ds2 ddr2.jpg"></td>
      <td>gigabyte ga 956qm ds2 ddr2
       <p><b>R$: 270,00</b></p>
       <p><button mat-button>Comprar</button> <button mat-button>Ver Detalhes</button></p>
      </td>
  </tr>
  <tr>
      <td><img id="imagem" src="assets\img\monitor\lg 21.9 ultra wide.jpg"></td>
      <td><p>Monitor LED 19.5" LG </p>
        <p>20M37AA Widescreen </p>
        <p>e Reader Mode</p>
        <P><b>R$: 379,00</b></P>
        <p><button mat-button>Comprar</button> <button mat-button>Ver Detalhes</button></p>
       </td>
       &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
       <td><img id="imagem" src="assets\img\processador\Processador Amd a6 7400k Black edition Edition 3.9 GHZ.jpg"></td>
       <td>Processador Amd a6 7400k Black edition
         <p>Edition 3.9 GHZ</p>
         <p><b>R$: 200,00</b></p>
         <p><button mat-button>Comprar</button> <button mat-button>Ver Detalhes</button></p>
       </td>
       &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
       <td> <img id="imagem" src="assets\img\monitor\dell 18,5.jpg"></td>
       <td>Monitor Dell 18.5"
         <p>Widescreen, Full HD,</p>
         <p> IPS,HDMI/VGA</p>
         <p><b>R$: 200,00</b></p>
         <p><button mat-button>Comprar</button> <button mat-button>Ver Detalhes</button></p>
       </td>
    </tr>
    <tr>
        <td><img id="imagem" src="assets\img\memoria-ram\Memoria Ram 4GB DDR3 1600mhz 1.5v Kcp316ns8 4 Kingston.jpg"></td>
        <td>Memoria Ram 4GB DDR3 1600mhz
          <p>1.5v Kcp316ns8 4 Kingston</p>
          <p><b>R$: 245,00</b></p>
          <p><button mat-button>Comprar</button> <button mat-button>Ver Detalhes</button></p>
        </td>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    </tr>
</table>
