<table>
  <tr>
    <td><img id="imagem" src="assets\img\placa-mae\asus b75m plus ddr3 32gb.jpg"></td>
    <td>asus b75m plus ddr3 32gb
      <p><b>R$: 300,00</b></p>
      <p><button mat-button>Comprar</button> <button mat-button>Ver Detalhes</button></p>
    </td>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;
    <td><img id="imagem" src="assets\img\placa-mae\asus prime b250m ddr4.png"></td>
    <td>asus prime b250m ddr4
      <p><b>R$: 380,00</b></p>
      <p><button mat-button>Comprar</button> <button mat-button>Ver Detalhes</button></p>
    </td>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;
    <td><td><img id="imagem" src="assets\img\placa-mae\gigabyte ga 956qm ds2 ddr2.jpg"></td>
    <td>gigabyte ga 956qm ds2 ddr2
      <p><b>R$: 270,00</b></p>
      <p><button mat-button>Comprar</button> <button mat-button>Ver Detalhes</button></p>
    </td>
  </tr>
</table>
