<table>
  <tr>
  <td> <img id="imagem" src="assets\img\monitor\acer 19,5.jpg"></td>
  <td>Monitor acer LED 19.5"
     <p> Widescreen, VGA - V206HQL</p>
     <p><b>R$: 400,00</b></p>
     <p><button mat-button>Comprar</button> <button mat-button>Ver Detalhes</button></p>
   </td>
   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;
   <td> <img id="imagem" src="assets\img\monitor\acer 20.jpg"></td>
   <td>Monitor Acer LED 20"
     <p>Widescreen - V206HQL</p>
     <p><b>R$: 388,00</b></p>
     <p><button mat-button>Comprar</button> <button mat-button>Ver Detalhes</button></p>
   </td>
   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;
     <td> <img id="imagem" src="assets\img\monitor\dell 18,5.jpg"></td>
     <td>Monitor Dell 18.5"
       <p>Widescreen, Full HD,</p>
       <P> IPS,HDMI/VGA</P>
       <p><b>R$: 200,00</b></p>
       <p><button mat-button>Comprar</button> <button mat-button>Ver Detalhes</button></p>
     </td>
  </tr>
  <tr>
   <td><img id="imagem" src="assets\img\monitor\hp 27.png"></td>
   <td>Monitor HP 27"
    <p>Ultrawide, Full HD, IPS, HDMI/Display</p>
    <P>Port, FreeSync, Som Integrado - 29WK600</P>
    <p><b>R$: 1.500,00</b></p>
    <p><button mat-button>Comprar</button> <button mat-button>Ver Detalhes</button></p>
   </td>
   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;
   <td><img id="imagem" src="assets\img\monitor\lg 21.9 ultra wide.jpg"></td>
   <td><p>Monitor LED 19.5" LG </p>
     <p>20M37AA Widescreen </p>
     <p>e Reader Mode</p>
     <P><b>R$: 379,00</b></P>
     <p><button mat-button>Comprar</button> <button mat-button>Ver Detalhes</button></p>
    </td>
     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;
     <td><img id="imagem" src="assets\img\monitor\monitor-dell-led-34-curvo-u3417w-1000x1000.jpg"> </td>
     <td><P>Monitor LED 34pol HP </P>
       <p>(UltraWide, Motion</p>
       <p> Blur Reduction, Curvo, IPS, AMD</p>
       <p> <b>R$: 3.647,05</b></p>
       <p><button mat-button>Comprar</button> <button mat-button>Ver Detalhes</button></p>
      </td>
   </tr>
   <tr>
      <td><img id="imagem" src="assets\img\monitor\Monitor-LCD-LED-19-5-AOC-HD-E2050SWN-Widescreen-2464932.jpg"> </td>
      <td><p>Monitor LCD LED 19.5" AOC HD</p>
      <p>Design Clean e Compacto</p>
      <p><b>R$: 300,50</b></p>
      <p><button mat-button>Comprar</button> <button mat-button>Ver Detalhes</button></p>
  </td>
  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;
  <td><img id="imagem" src="assets\img\monitor\73754_index_gg.jpg"></td>
  <td>
    <p>Monitor Philips LED 23.6" Widescreen,</p>
    <p>Full HD, HDMI/VGA/DVI, Som</p>
    <p>Integrado - 243V5QHABA</p>
    <p><b>R$: 730,87</b></p>
    <p><button mat-button>Comprar</button> <button mat-button>Ver Detalhes</button></p>
  </td>
   </tr>
  </table>
